<!DOCTYPE html>


<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trône UQAC</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"
</head>

<body>
    <header role="banner">
        <div class="container">
            <!-- Logos -->
            <div class="header-content">
                <img src="{{url_for('static', filename='images/logo_toilette.png')}}"
                     alt="Logo toilette"
                     class="logo-toilette">
                <img src="{{url_for('static', filename='images/logo_titre.png')}}"
                     alt="Titre Trône UQAC"
                     class="logo-texte">
                
            </div>
        </div>
    </header>
    <div class="login-container">
        <h1>Connexion</h1>
        <form method="post">
            <input type="text" name="username" placeholder="Nom d'utilisateur">
            <input type="password" name="password" placeholder="Mot de passe">
            <button type="submit">Se connecter</button>
        </form>
        <a href="/register">Se créer un Compte</a>
    </div>
    
</body>

</html>